<!--Menu Page-->
<div ng-controller="MainCtrl">
    <!--Menu-->
    <div class="row" style="background: #ebac13; padding: 0px 0;">

        <div class="col-1 col-sm-1 col-md-1">

        </div>

        <div class="col-10 col-sm-10 col-md-10" style="text-align: center; color:black;">
            {{appDetails.menu}}
        </div>

        <div class="col-1 col-sm-1 col-md-1">
            <i class="fas fa-power-off fa-2x float-right"></i>
        </div>
    </div>
    <!--End of Menu-->

    <!--Paragraph-->
    <p class="text-muted text-right"><b>Sidiropoulos Kostas</b></p>
    <!--End of Paragraph-->

    <!--Menu Options-->
    <div class="row">
        <!--1st Column-->
        <div class="col-md-2">
        </div>

        <!--2nd Column-->
        <div class="col-md-8 text-center">
            <!--#1-->
            <div>
                <a href="">
                    <img src="img\5.png" style="width: 70px; height: 70px;">
                </a>
                <p>Η επιχείρηση</p>
            </div>
            <!--#2-->
            <div>
                <a href="#/pelates">
                    <img src="img\5.png" style="width: 70px; height: 70px;">
                </a>
                <p>Πελάτες</p>
            </div>
            <!--#3-->
            <div>
                <a href="">
                    <img src="img\5.png" style="width: 70px; height: 70px;">
                </a>
                <p>Καρτέλ Κίνησης</p>
            </div>
            <!--#4-->
            <div>
                <a href="">
                    <img src="img\5.png" style="width: 70px; height: 70px;;">
                </a>
                <p>Αίτηση Ανάληψης</p>
            </div>
            <!--#5-->
            <div>
                <a href="">
                    <img src="img\5.png" style="width: 70px; height: 70px;">
                </a>
                <p>Ενημέρωση Κατάθεσης</p>
            </div>
        </div>

        <!--3rd Column-->
        <div class="col-md-2">
        </div>
    </div>
    <!--End of Menu Options-->
</div>
<!--End of Menu Page-->

